pkgbase = linux-zen-custom
	pkgdesc = Linux ZEN
	pkgver = 6.1.2.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel/commits/v6.1.2-zen1
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = python-sphinx<6.0.0
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = texlive-latexextra
	makedepends = git
	options = !strip
	source = zen-kernel::git+https://github.com/zen-kernel/zen-kernel?signed#tag=v6.1.2-zen1
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	validpgpkeys = C5ADB4F3FEBBCE27A3E54D7D9AE4078033F8024D
	sha256sums = SKIP
	sha256sums = cc5e70dcc4c0cc475402635a819c81fbaaf78406f7eae32e2e368e851d82983d

pkgname = linux-zen-custom
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = VHBA-MODULE
	provides = UKSMD-BUILTIN
	replaces = 

pkgname = linux-zen-custom-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-custom-docs
	pkgdesc = Documentation for the Linux ZEN kernel
